html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  margin-top: 200px;
  margin-bottom: 25px;
  
}

.App .card {
  max-width: 95%;
  width: 100%;
  text-align: center;
  background-color: grey;
  padding: 40px;
  border-radius: 10px;
}

label.radio {
  display: block;
  text-align: left;
  padding: 25px;
  margin-bottom: 50px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
  transform: scale(2.5);
margin-right: 45px;
margin-bottom: 20px;
}

h1.ui.left.aligned.header {
  background-color: grey;
  padding: 30px;
  color:white;
  font-size: 50px;
  font-weight: 100px;
}

label.radio.has-background-light {
  padding-block: 3rem;
  border-radius: 1rem;
}
h1.mb-5 {
  color:white;
  font-size: 50px;
}

p {
  font-size: 50px;
  color: white;
}

h1.ui.white.header {
  font-size: 50px;
  color: aliceblue;
}
h3.ui.header {
  font-size: xx-large;
  color: skyblue;
}
.card-content {
  padding: 150px;
  margin-bottom:2rem
}
.ui.container {
  padding-left: 10rem;

}
h4 {
  text-align: right;
  padding-right:20% 
  
}
.has-text-danger {
  font-size: 50px;
  font-weight: 20px;
}
.has-text-danger {
  color: #d20c34 !important;
}

.ui.scrolling.modal.transition.visible.active {
    
  padding: 30px;
 
  margin-bottom: 50;
  
  text-align: left;
  padding-top: 15%;
  margin-bottom: 80px;
  font-size: 36px;
}
.content {
  font-size: 25px;
  
  padding:60px;
 
}

.has-text-danger {
  color: #1e1c1c!important;
}
h4.modall {

  margin-right:10rem !important
  
}


span {
  color: white;
}

strong {
  color: white !important;
  font-weight: 700;
}

 .content h2, .content h3, .content h4, .content h5, .content h6 {
  /* color: #363636; */
  /* color: whitesmoke !important; */
   color: black !important; 
  font-weight: 600;
  line-height: 1.125;
}
.questions {
  color: black;
}

/*for Timer */

/* p#count-time {
  text-align: right;
  margin-bottom: 2%;
} */
.timerDiv {
  margin-top: -2%;
  margin-bottom: 2%;
}

.ui.red.huge.button {
  margin-right: 55px;
}